<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeychainItems.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>557AE55C1D454B45006C41EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55CAB13C1D4D723C00AE25E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55D1E11F1D77316200F9723C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
